.header {
  font-size: 2.4rem;
  padding: 1.2rem;
  display: flex;
  align-items: center;
  position: relative;
  color: white;
  transition: background-color 0.3s ease-in-out;
  height: 6vh;
}
.logo {
  height: 2.4rem;
  padding-left: calc(50% - 5.8rem);
  transition: padding 1s ease-in-out;
}
.loggedIn {
  background-color: var(--main-color);
}
.loggedInLogo {
  padding-left: calc(100% - 11.8rem);
}
.nav {
  display: flex;
  align-items: center;
  position: absolute;
}
.navBtn {
  animation: fadeIn ease 1s;
  width: 2rem;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
