* {
  font-size: 10px;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}
:root {
  --main-color: #1098F7;
  --light-main: #55DDE0;
  --dark-color: #000000;
  --light-dark: #2B2C28;
}
button:active {
  transform: translateY(1px);
}
.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}
input {
  font-size: 1.6rem;
  padding: 0.4rem 0.6rem;
  width: 80%;
  border: 1px solid var(--dark-color);
  border-radius: 6px;
}
input:focus {
  outline: 2px solid var(--main-color);
  border: 0;
}